name: CI

on:
  pull_request:
    paths-ignore:
      - '**/*.md'
  push:
    branches: [main]
    paths-ignore:
      - '**/*.md'

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Type check
        run: pnpm build

      - name: Prettier
        run: pnpm format:check

      - name: Tests
        run: pnpm test
